.button--blue {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 153px;
    height: 61px;
    flex-shrink: 0;
    background-color: $colorBlue;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.8px;
    border-radius: 13px;
    color: #FFF;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}

.button--green {
    width: 126px;
    height: 61px;
    flex-shrink: 0;
    background-color: $colorGreen;
    border: none;
    border-radius: 13px;
    transition: 0.3s;
    cursor: pointer;
}

.header__button {
    display: flex;
    gap: 24px;
    text-align: right;

}