.header-menu ul li {
    display: inline-block;
    text-align: center;
    color: #525159;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0.8px;
    padding-right: 20px;
    margin-left: 20px;
}