.header__home {
    display: flex;
}

.header-menu ul li {
    display: inline-block;
    color: #595451;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.8px;
    padding: 7px 30px 0px 30px;
}

.header-menu ul li a {
    text-decoration: none;
    transition: 0.3s;
}

.header-menu {
    flex-grow: 1;
    text-align: right;
}