.page-section__img-design {
    overflow: hidden;

    img {
        transition: 0.3s;
        vertical-align: middle;
    }
}

.page-section__img-design:hover {
    img {
        transform: scale(1.1);
    }
}

.header__menu a:hover {
    color: #616AE8;
}

.button--blue:hover {
    background-color: #22E4A7;

}

.button--green:hover {
    background-color: #616AE8;
}

.page-section__design-title a:hover {
    color: #616AE8;
    transition: 0.3s;
}