.page-section {
    position: relative;
    z-index: 9;
    padding: 50px 0;
}

.page-section__bg {
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-position: 50% 50%;
    width: 500px;
    height: 800px;
    top: 30px;
    left: 0;
}

.page-section__bg--color {
    width: 39.6875%;
    height: 645px;
    flex-shrink: 0;
    border-radius: 0px 48px 48px 0px;
}


.page-section__full {
    padding: 30px;
    width: 100%;
    border-radius: 48px;
    background: #FCF3EC;
}

.page-section__items {
    // width: 420px;
    min-height: 309px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #FFF;
    min-height: 100%;
    padding: 38px;
}

.page-section__content {
    color: #7E7FA0;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 185%;
    letter-spacing: 1.5px;
    padding: 30px 0px 20px 0px;
}

.page-section__bg-color-2 {
    position: relative;
    width: 26px;
    height: 1px;

}

.page-section__bg-color-2:before {
    content: "";
    position: absolute;
    background: #7E7FA0;
    width: 26px;
    height: 1px;
    top: 13px;
    left: 0px;
}

.page-section__author {
    color: #2D2A3E;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 133.333%;
    letter-spacing: 0.72px;
    padding: 0px 0px 50px 40px;
}

.page-section__items-1 {
    background-color: #FDF0E7;
    border-radius: 50%;
    width: 122px;
    height: 122px;
    padding: 22px;
}


.page-section__items-2 {
    display: flex;
    justify-content: center;
    background-color: #FFF1F0;
    border-radius: 50%;
    width: 93px;
    height: 93px;
    flex-shrink: 0;
    align-items: center;
}

.page-section__title-1 {
    color: #2D2A3E;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.92px;
    padding: 42px 0px 0px 0px;

}

.page-section__conten-1 {
    padding: 17px 0px 0px 0px;
    color: #7E7FA0;
    font-family: Manrope;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.page-section__items-design {
    gap: 44px;
    // width: 433px;
    // height: 360px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.05);
}

.page-section__img {
    width: 100%;
}

.page-section__img-design {
    border-radius: 8px 8px 0px 0px;
}

.page-section__design-items {
    display: flex;
}

.page-section__design-sales {
    color: #FFF;
    font-family: Manrope;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 126.316%;
    letter-spacing: -0.57px;
    background: #5D69FB;
    width: 100px;
    height: 36px;
    padding: 6px;
    text-align: center;
    position: relative;
    z-index: 2;
    bottom: 25px;
    left: 0px;
}

.page-section__design-svg {
    position: relative;
    z-index: 2;
    bottom: 25px;
    left: 0px;
}

.page-section__design-title a {
    color: #000;
    font-family: Manrope;
    font-size: 21px;
    font-style: normal;
    font-weight: bold;
    line-height: 114.286%;
    letter-spacing: 0.21px;
    text-decoration: none;
    padding: 0px 0px 4px 21px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.page-section__design-dh {
    display: flex;
    padding: 0px 0px 0px 21px;
    color: #817F8A;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0.3px;
}

.page-section__ch {
    width: 4px;
    height: 4px;
    background-color: rgba(129, 127, 138, 1);
    border-radius: 50%;
    position: relative;
    top: 20px;
}

.page-section__date {
    padding: 10px 10px 10px 0px;
}

.page-section__comment {
    padding: 10px 0px 10px 10px;
}

.page-section__bg-right {
    padding: 55px 0px 0px 40px;

}


@media (max-width : 1200px) {
    .page-section {
        padding: 30px 40px;
    }

    .page-section__bg--color {
        width: 39.6875%;
        height: 490px;
        position: absolute;
        left: -50px;
    }

    .page-section__bg-right {
        padding: 30px 0px 0px 20px;
    }

    .page-section__items-1 {
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
    }

    .page-section__content {
        padding: 15px 0px 10px 0px;
        font-size: 16px;
        line-height: 160%;
    }

    .page-section__svg-s1 svg {
        width: 60px;
        height: 18px;
    }

    .page-section__items-1 svg {
        width: 60px;
        height: 60px;
    }

    .page-section__author {
        font-size: 16px;
        padding: 0px 0px 30px 30px;
    }

    .page-section__bg-color-2::before {
        width: 19px;
    }

    .page-section__items-2 {
        width: 63px;
        height: 63px;
    }

    .page-section__items-2 svg {
        width: 26px;
        height: 26px;
    }

    .page-section__title-1 {
        font-size: 17px;
        padding: 20px 0px 0px 0px;
    }

    .page-section__conten-1 {
        padding: 12px 0px 0px 0px;
        font-size: 14px;
    }

    .page-section__items {
        padding: 30px;
    }

    // .page-section__items-design {
    //     width: 350px;
    //     align-items: center;
    // }
}