.text-box {
    padding: 10px;
}

.text-box__title-one {
    padding: 15px 0px;
    color: #2D2B36;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1.3px;
    position: relative;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.text-box__title-one:before {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 50%;
    top: -13px;
    left: -31px;
    z-index: -1;
}

.text-box__title-one--color::before {
    background-color: var(--color);
}

.text-box__content {
    padding: 20px 0px 0px 0px;
    flex-shrink: 0;
    width: 399;
    min-height: 141px;
    color: #7E7FA0;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 500;
    line-height: 170%;
    letter-spacing: 0.74px;

}

@media (max-width : 1200px) {
    .text-box__title-one {
        font-size: 18px;
        padding: 10px 0px;
    }

    .text-box__title-one:before {
        width: 65px;
        height: 65px;
    }

    .text-box__content {
        font-size: 16px;
        padding: 10px 0px 0px 0px;
        font-family: Manrope;
        line-height: 150%;
    }
}