.title-s1 {
    text-align: center;
}

.title-s1__title-all h3 {
    color: #2D2A3E;
    font-family: Manrope;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 1.52px;
    padding: 0px 0px 44px 0px;
}

.title-s1__content-1 {
    color: #7E7FA0;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    letter-spacing: 1.5px;
}

@media (max-width : 1200px) {
    .title-s1__title-all h3 {
        font-size: 26px;
        padding: 60px 0px 25px 0px;
    }

    .title-s1__content-1 {
        font-size: 16px;
        line-height: 135%;
    }
}

@media (max-width : 992px) {
    .title-s1__title-all h3 {
        font-size: 23px;
        padding: 60px 0px 20px 0px;
    }

    .title-s1__content-1 {
        font-size: 14px;
        line-height: 135%;
    }
}

@media (max-width : 768px) {
    .title-s1__title-all h3 {
        font-size: 21px;
        padding: 60px 0px 20px 0px;
    }

    .title-s1__content-1 {
        font-size: 13px;
        line-height: 115%;
    }
}

@media (max-width : 576px) {
    .title-s1__title-all h3 {
        font-size: 26px;
        padding: 60px 0px 30px 0px;
    }

    .title-s1__content-1 {
        font-size: 16px;
        line-height: 155%;
    }
}